{
  "plugins": [
    "syntax-dynamic-import",
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "import",
      [
        {
          "libraryName": "antd",
          "style": "css"
        }
      ]
    ]
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": 52,
          "browsers": [
            "last 2 versions",
            "safari 7"
          ]
        },
        "modules": false,
        "loose": true
      }
    ],
    "es2015",
    "stage-0",
    "react"
  ]
}